Group 2: 
Chris Sadlo, Glenda Decapia, Katrice Trahan, Sarah Kachelmeier

Project 2 - HURRICANES

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import country_converter as coco
from sqlalchemy import create_engine
import gmaps

# Import API key
from api_keys import weather_api_key
from api_keys import google_key
from config import username
from config import password


gmaps.configure(api_key = google_key)


# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

Store CSV files into dataframes

In [2]:
# EXTRACTING data from NOAA's HURDAT2 available at this website:
# https://www.kaggle.com/noaa/hurricane-database

csv_file = "Resources/atlantic.csv"
atlantic_data_df = pd.read_csv(csv_file)
atlantic_data_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [3]:
# TRANSFORMING the Atlantic Ocean data by dropping columns that were largely unused

new_atlantic_data_df = atlantic_data_df[["ID","Name","Date","Time","Status","Latitude","Longitude","Maximum Wind","Minimum Pressure"]]
new_atlantic_data_df["Ocean"] = "ATLANTIC"

C:\Users\Mama\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [4]:
new_atlantic_data_df.head()

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Ocean
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC

In [5]:
# EXTRACTING data from NOAA's HURDAT2 available at this website:
# https://www.kaggle.com/noaa/hurricane-database

csv_file = "Resources/pacific.csv"
pacific_data_df = pd.read_csv(csv_file)
pacific_data_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [6]:
# TRANSFORMING the Pacific Ocean data by dropping columns that were largely unused

new_pacific_data_df = pacific_data_df[["ID","Name","Date","Time","Status","Latitude","Longitude","Maximum Wind","Minimum Pressure"]]
new_pacific_data_df["Ocean"] = "PACIFIC"

C:\Users\Mama\anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
# TRANSFORMING a combination of Atlantic Ocean and Pacific Ocean data into a single dataframe

atlantic_and_pacific_data = pd.concat([new_atlantic_data_df, new_pacific_data_df])
atlantic_and_pacific_data

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Ocean
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC
...,...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,20151128,1200,LO,21.7N,109.0W,35,1002,PACIFIC
26133,EP222015,SANDRA,20151128,1800,LO,22.4N,108.7W,30,1007,PACIFIC
26134,EP222015,SANDRA,20151129,0,LO,23.1N,108.3W,30,1008,PACIFIC
26135,EP222015,SANDRA,20151129,600,LO,23.5N,107.9W,25,1009,PACIFIC
26136,EP222015,SANDRA,20151129,1200,LO,24.2N,107.7W,20,1010,PACIFIC

Data Transformation

In [8]:
# CONFIRMING the datatypes that were Extracted

atlantic_and_pacific_data.dtypes

ID                  object
Name                object
Date                 int64
Time                 int64
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
Ocean               object
dtype: object

In [9]:
# TRANSFORMING by filtering the data from the CSV files to shrink the data to process

#################################
# With Filters (training brakes)
# Exclude any data from hurricane season prior to the year 2000  (Date >= year 2000)
#atlantic_and_pacific_2000 = atlantic_and_pacific_data.loc[atlantic_and_pacific_data["Date"] >= 20000000, :]

#clean_atlantic_and_pacific_df = atlantic_and_pacific_2000

# Exclude any data from hurricane season that was less than 60 mph (Maximum Wind >= 60)
#clean_atlantic_and_pacific_df = atlantic_and_pacific_2000.loc[atlantic_and_pacific_2000["Maximum Wind"] >= 100, :]
################################

################################
# Without training brakes
clean_atlantic_and_pacific_df = atlantic_and_pacific_data

clean_atlantic_and_pacific_df.shape

(75242, 10)

In [10]:
################################
# Adding a hurricane category

#def func(a_):
#    if a_ < 74:
#        return 0
#    elif a_ <= 95:
#        return 1
#    elif a_ <= 110:
#        return 2
#    elif a_ <= 129:
#        return 3
#    elif a_ <= 156:
#        return 4
#    else:
#        return 5
#    
#clean_atlantic_and_pacific_df['Category'] = clean_atlantic_and_pacific_df['Maximum Wind'].apply(lambda x: func(x[0]))
    
clean_atlantic_and_pacific_df['Category'] = 0

for index, row in clean_atlantic_and_pacific_df.iterrows():
    if row['Maximum Wind'] < 74:
        row['Category'] = 0
    elif row['Maximum Wind'] <= 95:
        row['Category'] = 1
    elif row['Maximum Wind'] <= 110:
        row['Category'] = 2
    elif row['Maximum Wind'] <= 129:
        row['Category'] = 3
    elif row['Maximum Wind'] <= 156:
        row['Category'] = 4
    else:
        row['Category'] = 5

In [11]:
# TRANSFORM the data by converting from a user-friendly format of latitude and longitude (eg. 51N, 101W)
# to one that was more commonly used with APIs (e.g. 51, -101)

# convert latitude and longitude values to decimal format
def cardinal2negative(s):
    degrees = float(s[:-1])
    cardinal = s[len(s)-1:]
    
    if cardinal in ('s','S','w','W'):
        degrees *= -1

    return degrees

# Perform this step to skip data copying warning from python
clean_atlantic_and_pacific_df = clean_atlantic_and_pacific_df.copy()
lat_series = clean_atlantic_and_pacific_df["Latitude"].copy().apply(cardinal2negative)
lng_series = clean_atlantic_and_pacific_df['Longitude'].copy().apply(cardinal2negative)

clean_atlantic_and_pacific_df["New Latitude"] = lat_series
clean_atlantic_and_pacific_df['New Longitude'] = lng_series

# TRANSFORM the data by removing the leading whitespace in-front of the
# hurricane's Name and Status left-over from CSV
clean_atlantic_and_pacific_df["Name"] = clean_atlantic_and_pacific_df["Name"].str.strip()
clean_atlantic_and_pacific_df["Status"] = clean_atlantic_and_pacific_df["Status"].str.strip()
clean_atlantic_and_pacific_df

clean_atlantic_and_pacific_df

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Ocean,Category,New Latitude,New Longitude
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC,0,28.0,-94.8
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC,0,28.0,-95.4
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC,0,28.0,-96.0
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC,0,28.1,-96.5
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC,0,28.2,-96.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,20151128,1200,LO,21.7N,109.0W,35,1002,PACIFIC,0,21.7,-109.0
26133,EP222015,SANDRA,20151128,1800,LO,22.4N,108.7W,30,1007,PACIFIC,0,22.4,-108.7
26134,EP222015,SANDRA,20151129,0,LO,23.1N,108.3W,30,1008,PACIFIC,0,23.1,-108.3
26135,EP222015,SANDRA,20151129,600,LO,23.5N,107.9W,25,1009,PACIFIC,0,23.5,-107.9
26136,EP222015,SANDRA,20151129,1200,LO,24.2N,107.7W,20,1010,PACIFIC,0,24.2,-107.7

In [12]:
##############################################################################
# THIS STEP WILL TAKE A FEW MINUTES TO RUN. PLEASE BE PATIENT (coco is slow) #
##############################################################################

# TRANSFORM the data by using the citipy API to determine the nearest city 
# for each lat lng pair and add it to the dataframe

unique_cities_list = []
city_list = []
country_list = []

# Create a set of latitude and longitude combinations to process over in a simple for-loop
lats = clean_atlantic_and_pacific_df["New Latitude"]
lngs = clean_atlantic_and_pacific_df["New Longitude"]
lat_lngs = zip(lats, lngs)

# EXTRACT from the citipy API to identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    country = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
    
    # TRANSFORM the data by uppercasing cities and converting country codes to country names
    city = city.title()
    country = coco.convert(names=country, to='name_short')

    city_list.append(city)
    country_list.append(country)

    if (country == "not found"):
        continue ### We want to skip this location if we couldn't convert the country code

    city_country_pair = f"{city}, {country}"
    
    # If the city is unique, then add it to our unique cities list
    if city_country_pair not in unique_cities_list:
        unique_cities_list.append(city_country_pair)


# Add the city and country pair to the dataframe here:
clean_atlantic_and_pacific_df["City"] = city_list
clean_atlantic_and_pacific_df["Country"] = country_list

### Warning for the Netherland's Antilles island's country code "AN" for not being in citipy

WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2

WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2
WARNING:root:an not found in ISO2

In [13]:
#clean_atlantic_and_pacific_df.head()

In [14]:
# TRANSFORM the data by filtering out any location where the country code could not be converted
clean_atlantic_and_pacific_df = clean_atlantic_and_pacific_df[clean_atlantic_and_pacific_df["Country"] != "not found"]

# Print the city count to confirm sufficient count
len(unique_cities_list)
unique_cities_list

['Freeport, United States',
 'Port Lavaca, United States',
 'Rockport, United States',
 'Beeville, United States',
 'Pleasanton, United States',
 'Hondo, United States',
 'Uvalde, United States',
 'San Angelo, United States',
 'Miramar, Mexico',
 'Scarborough, Trinidad and Tobago',
 'Sinnamary, French Guiana',
 'Bathsheba, Barbados',
 'Le Vauclin, Martinique',
 'Saint-Francois, Guadeloupe',
 'Charlestown, St. Kitts and Nevis',
 'Arroyo, United States',
 'Cabo Rojo, United States',
 'San Pedro De Macoris, Dominican Republic',
 'Tamayo, Dominican Republic',
 'Verrettes, Haiti',
 'Jeremie, Haiti',
 'Santiago De Cuba, Cuba',
 'Amancio, Cuba',
 'Venezuela, Cuba',
 'Cienfuegos, Cuba',
 'Pedro Betancourt, Cuba',
 'Bauta, Cuba',
 'Bahia Honda, Cuba',
 'Venice, United States',
 'Saint Pete Beach, United States',
 'Panama City, United States',
 'Destin, United States',
 'Bainbridge, United States',
 'Albany, United States',
 'Dublin, United States',
 'Aiken, United States',
 'Florence, United States',
 'Fayetteville, United States',
 'Washington, United States',
 'Virginia Beach, United States',
 'Atlantic City, United States',
 'Mastic Beach, United States',
 'Nantucket, United States',
 'Yarmouth, Canada',
 'Lunenburg, Canada',
 'Louisbourg, Canada',
 'Miquelon, St. Pierre and Miquelon',
 'Gambo, Canada',
 'Havelock, United States',
 'High Rock, Bahamas',
 'Marsh Harbour, Bahamas',
 'North Myrtle Beach, United States',
 'Wilmington, United States',
 'Westerly, United States',
 'Charlestown, United States',
 'North Smithfield, United States',
 'Isabela, United States',
 'Samana, Dominican Republic',
 'Cockburn Town, Turks and Caicos Islands',
 'Cockburn Harbour, Turks and Caicos Islands',
 'Clarence Town, Bahamas',
 'Gibara, Cuba',
 'Nuevitas, Cuba',
 'Moron, Cuba',
 'Caibarien, Cuba',
 'Rancho Veloz, Cuba',
 'Varadero, Cuba',
 'Key West, United States',
 'Bayshore Gardens, United States',
 'Seminole, United States',
 'Warrington, United States',
 'Pascagoula, United States',
 'Moss Point, United States',
 'Saraland, United States',
 'Selma, United States',
 'Montgomery, United States',
 'Valley, United States',
 'Milledgeville, United States',
 'Orangeburg, United States',
 'Brigantine, United States',
 'Vieques, United States',
 'Mayaguez, United States',
 'Higuey, Dominican Republic',
 'Pimentel, Dominican Republic',
 'San Ignacio De Sabaneta, Dominican Republic',
 'Limbe, Haiti',
 'Houma, United States',
 'Estelle, United States',
 'Callaway, United States',
 'Clearwater, United States',
 'Dunedin, United States',
 'Plant City, United States',
 'Kissimmee, United States',
 'Cape Canaveral, United States',
 'Mount Pleasant, United States',
 'Elizabeth City, United States',
 'Freetown, Antigua and Barbuda',
 'Codrington, Antigua and Barbuda',
 'Marigot, Guadeloupe',
 'The Valley, Anguilla',
 'Road Town, British Virgin Islands',
 'Loiza, United States',
 'Arecibo, United States',
 'Nagua, Dominican Republic',
 'Sosua, Dominican Republic',
 'Maimon, Dominican Republic',
 'Port-De-Paix, Haiti',
 'Baracoa, Cuba',
 'Cockburn Town, Bahamas',
 'Hamilton, Bermuda',
 'Les Cayes, Haiti',
 'Morant Bay, Jamaica',
 'Bull Savanna, Jamaica',
 'Lucea, Jamaica',
 'George Town, Cayman Islands',
 'West Bay, Cayman Islands',
 'Guane, Cuba',
 'Cozumel, Mexico',
 'Isla Mujeres, Mexico',
 'Mantua, Cuba',
 'Tallahassee, United States',
 'Thomasville, United States',
 'Douglas, United States',
 'New Bern, United States',
 'Shelburne, Canada',
 'Praia, Cabo Verde',
 'Sao Filipe, Cabo Verde',
 'Porto Novo, Cabo Verde',
 'Cayenne, French Guiana',
 'San Juan, United States',
 'Liverpool, Canada',
 'Port Hawkesbury, Canada',
 'Saint-Pierre, St. Pierre and Miquelon',
 'Marystown, Canada',
 'Torbay, Canada',
 'Ribeira Grande, Portugal',
 'Lagoa, Portugal',
 'Anton Lizardo, Mexico',
 'Saint George, Bermuda',
 'Ponta Do Sol, Cabo Verde',
 'Freeport, Bahamas',
 'Edgewater, United States',
 'Ormond Beach, United States',
 'Palm Coast, United States',
 'Jacksonville Beach, United States',
 'Atlantic Beach, United States',
 'Saint Simons, United States',
 'Wilmington Island, United States',
 'Hilton Head Island, United States',
 'Georgetown, United States',
 'Morgan City, United States',
 'Galveston, United States',
 'Brownsville, United States',
 'Gustavo Diaz Ordaz, Mexico',
 'Sabinas Hidalgo, Mexico',
 'Minas De Barroteran, Mexico',
 'Ocampo, Mexico',
 'Richmond Hill, United States',
 'Statesboro, United States',
 'Sumter, United States',
 'Goldsboro, United States',
 'Ocean City, United States',
 'Lake Jackson, United States',
 'Wharton, United States',
 'El Campo, United States',
 'Brenham, United States',
 'Moralillo, Mexico',
 'Grindavik, Iceland',
 'Corn Island, Nicaragua',
 'Oistins, Barbados',
 'Dovers, St. Vincent and the Grenadines',
 'Chateaubelair, St. Vincent and the Grenadines',
 'Canaries, St. Lucia',
 'Baillif, Guadeloupe',
 'Middle Island, St. Kitts and Nevis',
 'Maunabo, United States',
 'Santa Isabel, United States',
 'Quisqueya, Dominican Republic',
 'Saint-Raphael, Haiti',
 'Chalmette, United States',
 'Bay Saint Louis, United States',
 'Hattiesburg, United States',
 'Meridian, United States',
 'Columbus, United States',
 'New Iberia, United States',
 'Lafayette, United States',
 'Opelousas, United States',
 'Zachary, United States',
 'Natchez, United States',
 'Bridgetown, Barbados',
 'Gouyave, Grenada',
 'La Asuncion, Venezuela',
 'Guatire, Venezuela',
 'Salisbury, United States',
 'Ventnor City, United States',
 'Sayville, United States',
 'Moa, Cuba',
 'Manati, Cuba',
 'Esmeralda, Cuba',
 'Los Arabos, Cuba',
 'Union De Reyes, Cuba',
 'Cabanas, Cuba',
 'San Diego De Los Banos, Cuba',
 'Panaba, Mexico',
 'Perry, United States',
 'Jacksonville, United States',
 'Bay Roberts, Canada',
 'Myrtle Beach, United States',
 'Halifax, Canada',
 'Crab Hill, Barbados',
 'Grand-Bourg, Guadeloupe',
 'Guanica, United States',
 'La Romana, Dominican Republic',
 'Bani, Dominican Republic',
 'Pedernales, Dominican Republic',
 'Bodden Town, Cayman Islands',
 'Santa Fe, Cuba',
 'Progreso, Mexico',
 'Celestun, Mexico',
 'Matamoros, Mexico',
 'Guerrero, Mexico',
 'South Venice, United States',
 'Lakeland Highlands, United States',
 'Old Saybrook, United States',
 'Groton, United States',
 'Madison, United States',
 'Port-Cartier, Canada',
 'Naranjos, Mexico',
 'Long Beach, United States',
 'Fairhope, United States',
 'Ensley, United States',
 'Newnan, United States',
 'Anderson, United States',
 'Asheboro, United States',
 'Petersburg, United States',
 'Narragansett, United States',
 'Rock Sound, Bahamas',
 'Dunmore Town, Bahamas',
 'Nassau, Bahamas',
 'Alice Town, Bahamas',
 'Boca Raton, United States',
 'Belle Glade, United States',
 'Lehigh Acres, United States',
 'Punta Gorda, United States',
 'Paraiso, Mexico',
 'Frontera, Mexico',
 'Dzilam Gonzalez, Mexico',
 'Merritt Island, United States',
 'Springfield, United States',
 'Biloxi, United States',
 'Crestview, United States',
 'Ozark, United States',
 'Dawson, United States',
 'Tifton, United States',
 'Hinesville, United States',
 'Gulfport, United States',
 'Laurel, United States',
 'Tuscaloosa, United States',
 'Brookhaven, United States',
 'Clinton, United States',
 'Greenwood, United States',
 'Oxford, United States',
 'Atkinson, Dominica',
 'Anse-Bertrand, Guadeloupe',
 'Monkey Hill, St. Kitts and Nevis',
 'Hatillo, United States',
 'Sagua La Grande, Cuba',
 'Naples, United States',
 'Piney Green, United States',
 'Milford, United States',
 'Longmeadow, United States',
 'Saint Stephen, Canada',
 'Sebring, United States',
 'Woonsocket, United States',
 'Topsham, United States',
 'Portobelo, Panama',
 'Antigonish, Canada',
 'Nanortalik, Greenland',
 'Key Largo, United States',
 'Key Biscayne, United States',
 'Miami Beach, United States',
 'Riviera Beach, United States',
 'Jensen Beach, United States',
 'Torrington, United States',
 'Altamira, Mexico',
 'Aldama, Mexico',
 'Xicotencatl, Mexico',
 'Bay City, United States',
 'Port Arthur, United States',
 'Lake Charles, United States',
 'Crowley, United States',
 'Baton Rouge, United States',
 'Hammond, United States',
 'Mandeville, United States',
 'Picayune, United States',
 'Sainte-Marie, Martinique',
 'Coulihaut, Dominica',
 'Vieux-Habitants, Guadeloupe',
 'Oranjestad, Aruba',
 'Jacmel, Haiti',
 'Black River, Jamaica',
 'Iralaya, Honduras',
 'Barra Patuca, Honduras',
 'Savannah Bight, Honduras',
 'French Harbor, Honduras',
 'Belize, Belize',
 'San Ignacio, Belize',
 'Reforma, Mexico',
 'San Andres, Colombia',
 'Pointe-Noire, Guadeloupe',
 'Barahona, Dominican Republic',
 'Port Antonio, Jamaica',
 'Discovery Bay, Jamaica',
 'Abbeville, United States',
 'Sulphur, United States',
 'Natchitoches, United States',
 'Minden, United States',
 'Arkadelphia, United States',
 'Palmas Bellas, Panama',
 'Colon, Panama',
 'Puerto Cabezas, Nicaragua',
 'Alquizar, Cuba',
 'Santa Cruz Del Norte, Cuba',
 'Marathon, United States',
 'Homestead, United States',
 'Kings Point, United States',
 'Victoria, United States',
 'Pointe Michel, Dominica',
 'San Pedro, Belize',
 'Nicolas Bravo, Mexico',
 'Champoton, Mexico',
 'Mundo Nuevo, Mexico',
 'Vega De Alatorre, Mexico',
 'Zacualtipan, Mexico',
 'Tlacote El Bajo, Mexico',
 'Burgeo, Canada',
 'Harbour Breton, Canada',
 'Lewisporte, Canada',
 'Saint Anthony, Canada',
 'Dorado, United States',
 'Stony Point, United States',
 'Jericho, United States',
 'Saint Augustine, United States',
 'Conway, United States',
 'Lumberton, United States',
 'Hope Mills, United States',
 'Fuquay-Varina, United States',
 'Harwich, United States',
 'Puerto Colombia, Colombia',
 'Nuevo Progreso, Mexico',
 'Soto La Marina, Mexico',
 'San Benito, United States',
 'Fort Walton Beach, United States',
 'Lake City, United States',
 'Gainesville, United States',
 'Lakeside, United States',
 'Dieppe Bay, St. Kitts and Nevis',
 'Ciales, United States',
 'Duverge, Dominican Republic',
 'Aquin, Haiti',
 'Waycross, United States',
 'Waggaman, United States',
 'Laplace, United States',
 'Haverhill, United States',
 'Notre-Dame-Du-Lac, Canada',
 'Acarau, Brazil',
 'Falmouth, United States',
 'Mashpee, United States',
 'Yarmouth, United States',
 'Presque Isle, United States',
 'Bonaventure, Canada',
 'Tasiilaq, Greenland',
 'Ocho Rios, Jamaica',
 'Niquero, Cuba',
 'Santa Cruz Del Sur, Cuba',
 'Trinidad, Cuba',
 'Aguada De Pasajeros, Cuba',
 'Jaguey Grande, Cuba',
 'San Nicolas, Cuba',
 'Guines, Cuba',
 'Jaruco, Cuba',
 'San Luis, Cuba',
 'Immokalee, United States',
 'Vero Beach, United States',
 'Calderitas, Mexico',
 'Felipe Carrillo Puerto, Mexico',
 'Tulum, Mexico',
 'Cancun, Mexico',
 'Santa Fe, United States',
 'Mission Bend, United States',
 'Bryan, United States',
 'Athens, United States',
 'Commerce, United States',
 'Fort Smith, United States',
 'La Marque, United States',
 'Atascocita, United States',
 'Lufkin, United States',
 'Kilgore, United States',
 'Palm Beach, United States',
 'Lake Park, United States',
 'Jupiter, United States',
 'Hobe Sound, United States',
 'Port Saint Lucie, United States',
 'Yeehaw Junction, United States',
 'Haines City, United States',
 'Ocala, United States',
 'Kingsland, United States',
 'Culebra, United States',
 'Palm City, United States',
 'Saint Cloud, United States',
 'Lady Lake, United States',
 'Cordele, United States',
 'Vidalia, United States',
 'Rincon, United States',
 'Charleston, United States',
 'Brewster, United States',
 'Tarpon Springs, United States',
 'Bayonet Point, United States',
 'Fernandina Beach, United States',
 'Tamiahua, Mexico',
 'Valdosta, United States',
 'Jesup, United States',
 'Truro, Canada',
 'Stephenville, Canada',
 'Brandon, United States',
 'Starkville, United States',
 'Tupelo, United States',
 'Channel-Port Aux Basques, Canada',
 'Speightstown, Barbados',
 'Dennery, St. Lucia',
 'La Plaine, Dominica',
 'Capesterre-Belle-Eau, Guadeloupe',
 'Old Road, Antigua and Barbuda',
 'Pinellas Park, United States',
 'Clermont, United States',
 'Greenville, United States',
 'Suffolk, United States',
 'Williamsburg, United States',
 'Seaford, United States',
 'Hammonton, United States',
 'Woodmere, United States',
 'Seekonk, United States',
 'New Glasgow, Canada',
 'Andros Town, Bahamas',
 'Carbonear, Canada',
 'Catalina, Canada',
 'Bonavista, Canada',
 'Beaufort, United States',
 'Citrus Park, United States',
 'Petit Goave, Haiti',
 'Guisa, Cuba',
 'Manzanillo, Cuba',
 'Fort Myers Beach, United States',
 'Iona, United States',
 'Indian Harbour Beach, United States',
 'Seguin, United States',
 'Glace Bay, Canada',
 'Emilio Carranza, Mexico',
 'Tecolutla, Mexico',
 'San Fernando, Mexico',
 'Valle Hermoso, Mexico',
 'Weslaco, United States',
 'Raymondville, United States',
 'Kingsville, United States',
 'Alice, United States',
 'San Antonio, United States',
 'Live Oak, United States',
 'Fredericksburg, United States',
 'Copperas Cove, United States',
 'Stephenville, United States',
 'Bacalar, Mexico',
 'Chunhuhub, Mexico',
 'Piste, Mexico',
 'Buctzotz, Mexico',
 'Spring Hill, United States',
 'North Charleston, United States',
 'Glen Cove, United States',
 'Pepperell, United States',
 'Winthrop, United States',
 'Houlton, United States',
 'Havre-Saint-Pierre, Canada',
 'May Pen, Jamaica',
 'Port Maria, Jamaica',
 'El Cobre, Cuba',
 'Mayari, Cuba',
 'Banes, Cuba',
 'Itarema, Brazil',
 'Cap Estate, St. Lucia',
 'Saint-Pierre, Martinique',
 'Media Luna, Cuba',
 'Vertientes, Cuba',
 'Condado, Cuba',
 'Colon, Cuba',
 'Santiago De Las Vegas, Cuba',
 'Aransas Pass, United States',
 'Ingleside, United States',
 'Portland, United States',
 'Liberty, United States',
 'Digby, Canada',
 'Souris, Canada',
 'Patillas, United States',
 'Hato Mayor, Dominican Republic',
 'Constanza, Dominican Republic',
 'Pignon, Haiti',
 'Contramaestre, Cuba',
 'Sancti Spiritus, Cuba',
 'Tarboro, United States',
 'State College, United States',
 'Canandaigua, United States',
 'Syracuse, United States',
 'Gloversville, United States',
 'North Adams, United States',
 'Southborough, United States',
 'Barroualie, St. Vincent and the Grenadines',
 'Manaure, Colombia',
 'Santa Marta, Colombia',
 'Tubuala, Panama',
 'Bluefields, Nicaragua',
 'Nueva Guinea, Nicaragua',
 'San Jorge, Nicaragua',
 'San Rafael Del Sur, Nicaragua',
 'Corinto, Nicaragua',
 'La Libertad, El Salvador',
 'Batabano, Cuba',
 'Golden Gate, United States',
 'Florida Ridge, United States',
 'Sussex, Canada',
 'Grande-Riviere, Canada',
 'Lynn Haven, United States',
 'Moultrie, United States',
 'Caraballeda, Venezuela',
 'Punto Fijo, Venezuela',
 'Uribia, Colombia',
 'Riohacha, Colombia',
 'Forest Acres, United States',
 'Southern Pines, United States',
 'Millville, United States',
 'Mastic, United States',
 'Palatka, United States',
 'Englewood, United States',
 'Le Lorrain, Martinique',
 'Gonzalez, Mexico',
 'Antiguo Morelos, Mexico',
 'Saint-Augustin, Canada',
 'Marienburg, Suriname',
 'Nieuw Amsterdam, Suriname',
 'Georgetown, Guyana',
 'Mabaruma, Guyana',
 'Mucurapo, Trinidad and Tobago',
 'Kenscoff, Haiti',
 'Saint-Marc, Haiti',
 'Puerto Padre, Cuba',
 'Primero De Enero, Cuba',
 'Chambas, Cuba',
 'Corralillo, Cuba',
 'Holiday, United States',
 'Eden, United States',
 'Harrisonburg, United States',
 'Warren, United States',
 'Millbrook, Canada',
 'Carrefour, Haiti',
 'Desdunes, Haiti',
 'Gonaives, Haiti',
 'Aventura, United States',
 'Potomac, United States',
 'Carbondale, United States',
 'Troy, United States',
 'Londonderry, United States',
 'Ponce, United States',
 'Point Pleasant, United States',
 'Bar Harbor, United States',
 'Bridgetown, Canada',
 'Inverness, Canada',
 'Stephenville Crossing, Canada',
 'Peto, Mexico',
 'Bossier City, United States',
 'Magnolia, United States',
 'Benton, United States',
 'Searcy, United States',
 'Paragould, United States',
 'Mayfield, United States',
 'Bogalusa, United States',
 'Yazoo City, United States',
 'Portmore, Jamaica',
 'Consolacion Del Sur, Cuba',
 'Basse-Terre, Guadeloupe',
 'Kantunilkin, Mexico',
 'Tizimin, Mexico',
 'Anahuac, Mexico',
 'Zaragoza, Mexico',
 'Del Rio, United States',
 'Minas, Cuba',
 'Micco, United States',
 'South Patrick Shores, United States',
 'Doctor Phillips, United States',
 'Zephyrhills, United States',
 'Ferry Pass, United States',
 'Grand Bank, Canada',
 'Playa Del Carmen, Mexico',
 'Rockland, United States',
 'Kedgwick, Canada',
 'Sainte-Anne-Des-Monts, Canada',
 'Murdochville, Canada',
 'Americus, United States',
 'Millbrook, United States',
 'West Helena, United States',
 'Kinston, United States',
 'Vestmannaeyjar, Iceland',
 'Zulueta, Cuba',
 'Candelaria, Cuba',
 'Pinar Del Rio, Cuba',
 'Wright, United States',
 'Enterprise, United States',
 'Eufaula, United States',
 'Thomaston, United States',
 'Eatonton, United States',
 'Laurens, United States',
 'Charlotte, United States',
 'Henderson, United States',
 'Groves, United States',
 'Palestine, United States',
 'Pleasantville, United States',
 'Brunswick, United States',
 'Dingle, Ireland',
 'Tramore, Ireland',
 'Llandrindod Wells, United Kingdom',
 'Stevenage, United Kingdom',
 'Bajos De Haina, Dominican Republic',
 'Las Matas De Farfan, Dominican Republic',
 'Dunn, United States',
 'Smithfield, United States',
 'Rocky Mount, United States',
 'Colonial Heights, United States',
 'Green Valley, United States',
 'Tuam, Ireland',
 'Skerries, Ireland',
 'Praia Da Vitoria, Portugal',
 'Fort Stewart, United States',
 'Summerville, United States',
 'Goose Creek, United States',
 'Guantanamo, Cuba',
 'Sagua De Tanamo, Cuba',
 'Cocoa Beach, United States',
 'Daytona Beach, United States',
 'Nautla, Mexico',
 'Fredericton, Canada',
 'Ocean Springs, United States',
 'Mobile, United States',
 'Daphne, United States',
 'Niceville, United States',
 'New Port Richey, United States',
 'Dentsville, United States',
 'Rockingham, United States',
 'Durham, United States',
 'Charlottesville, United States',
 'Front Royal, United States',
 'Carlisle, United States',
 'Corning, United States',
 'Evans, United States',
 'Mount Holly, United States',
 'Burlington, United States',
 'Bon Air, United States',
 'La Plata, United States',
 'Bridgeton, United States',
 'Babylon, United States',
 'Nueva Gerona, Cuba',
 'Layou, St. Vincent and the Grenadines',
 'Cabral, Dominican Republic',
 'Leogane, Haiti',
 'Campechuela, Cuba',
 'Camajuani, Cuba',
 'Kerrville, United States',
 'Brownwood, United States',
 'Sweetwater, United States',
 'Lubbock, United States',
 'Port Elizabeth, St. Vincent and the Grenadines',
 'Falmouth, Jamaica',
 'Jatibonico, Cuba',
 'Jobabo, Cuba',
 'Colombia, Cuba',
 'Corpus Christi, United States',
 'Orange, United States',
 'El Dorado, United States',
 'Monte Cristi, Dominican Republic',
 'Sydney Mines, Canada',
 'Camaguey, Cuba',
 'Gautier, United States',
 'Hillsborough, Grenada',
 'Tuskegee, United States',
 'Riverdale, United States',
 'Mana, French Guiana',
 'Westport, Ireland',
 'Carndonagh, Ireland',
 'Vieux Fort, St. Lucia',
 'Mercedes, United States',
 'Reynosa, Mexico',
 'China, Mexico',
 'Hualahuises, Mexico',
 'Hopelchen, Mexico',
 'Seybaplaya, Mexico',
 'Carmen, Mexico',
 'Coxquihui, Mexico',
 'Mao, Dominican Republic',
 'Salisbury, Canada',
 'Palm Harbor, United States',
 'Mount Dora, United States',
 'Youghal, Ireland',
 'Ivybridge, United Kingdom',
 'Mayenne, France',
 'Cartagena, Colombia',
 'Tigre, Panama',
 'Limon, Costa Rica',
 'Carmen, Costa Rica',
 'Roxana, Costa Rica',
 'Robinson, United States',
 'Tomball, United States',
 'Huntsville, United States',
 'Weston, United States',
 'Cape Coral, United States',
 'Thibodaux, United States',
 'Indianola, United States',
 'Horn Lake, United States',
 'Clarksville, United States',
 'Lawrenceburg, United States',
 'Marietta, United States',
 'Lebanon, United States',
 'Foster, United States',
 'Montague, Canada',
 'Deer Lake, Canada',
 'Calabazar De Sagua, Cuba',
 'Marti, Cuba',
 'Madruga, Cuba',
 'Artemisa, Cuba',
 'Kantunil, Mexico',
 'Becal, Mexico',

In [15]:
#clean_atlantic_and_pacific_df.head()

In [16]:
clean_atlantic_and_pacific_df.shape

(74996, 15)

In [17]:
# LOAD - Perform the loading of the data into the sql server here:
rds_connection_string = f'{username}:{password}@localhost:5432/hurricanes'
engine = create_engine(f'postgresql://{rds_connection_string}')

# Confirm the table name in the database:
engine.table_names()

['hurricanes']

In [18]:
column_names = clean_atlantic_and_pacific_df.columns
column_names

Index(['ID', 'Name', 'Date', 'Time', 'Status', 'Latitude', 'Longitude',
       'Maximum Wind', 'Minimum Pressure', 'Ocean', 'Category', 'New Latitude',
       'New Longitude', 'City', 'Country'],
      dtype='object')

In [19]:
clean_atlantic_and_pacific_df.loc[clean_atlantic_and_pacific_df['Maximum Wind'] < 74, 'Category'] = 0
clean_atlantic_and_pacific_df.loc[ (clean_atlantic_and_pacific_df['Maximum Wind'] >= 74) & (clean_atlantic_and_pacific_df['Maximum Wind'] < 96) , 'Category'] = 1
clean_atlantic_and_pacific_df.loc[ (clean_atlantic_and_pacific_df['Maximum Wind'] >= 96) & (clean_atlantic_and_pacific_df['Maximum Wind'] < 111) , 'Category'] = 2
clean_atlantic_and_pacific_df.loc[ (clean_atlantic_and_pacific_df['Maximum Wind'] >= 111) & (clean_atlantic_and_pacific_df['Maximum Wind'] < 130) , 'Category'] = 3
clean_atlantic_and_pacific_df.loc[ (clean_atlantic_and_pacific_df['Maximum Wind'] >= 130) & (clean_atlantic_and_pacific_df['Maximum Wind'] < 157) , 'Category'] = 4
clean_atlantic_and_pacific_df.loc[ (clean_atlantic_and_pacific_df['Maximum Wind'] >= 157) , 'Category'] = 5

C:\Users\Mama\anaconda3\envs\NewPythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [20]:
clean_atlantic_and_pacific_df.head(50)

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,Ocean,Category,New Latitude,New Longitude,City,Country
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC,1,28.0,-94.8,Freeport,United States
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC,1,28.0,-95.4,Freeport,United States
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC,1,28.0,-96.0,Port Lavaca,United States
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC,1,28.1,-96.5,Port Lavaca,United States
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC,1,28.2,-96.8,Rockport,United States
5,AL011851,UNNAMED,18510626,0,HU,28.2N,97.0W,70,-999,ATLANTIC,0,28.2,-97.0,Rockport,United States
6,AL011851,UNNAMED,18510626,600,TS,28.3N,97.6W,60,-999,ATLANTIC,0,28.3,-97.6,Beeville,United States
7,AL011851,UNNAMED,18510626,1200,TS,28.4N,98.3W,60,-999,ATLANTIC,0,28.4,-98.3,Beeville,United States
8,AL011851,UNNAMED,18510626,1800,TS,28.6N,98.9W,50,-999,ATLANTIC,0,28.6,-98.9,Pleasanton,United States
9,AL011851,UNNAMED,18510627,0,TS,29.0N,99.4W,50,-999,ATLANTIC,0,29.0,-99.4,Hondo,United States
10,AL011851,UNNAMED,18510627,600,TS,29.5N,99.8W,40,-999,ATLANTIC,0,29.5,-99.8,Uvalde,United States
11,AL011851,UNNAMED,18510627,1200,TS,30.0N,100.0W,40,-999,ATLANTIC,0,30.0,-100.0,Uvalde,United States
12,AL011851,UNNAMED,18510627,1800,TS,30.5N,100.1W,40,-999,ATLANTIC,0,30.5,-100.1,San Angelo,United States
13,AL011851,UNNAMED,18510628,0,TS,31.0N,100.2W,40,-999,ATLANTIC,0,31.0,-100.2,San Angelo,United States
14,AL021851,UNNAMED,18510705,1200,HU,22.2N,97.6W,80,-999,ATLANTIC,1,22.2,-97.6,Miramar,Mexico
15,AL031851,UNNAMED,18510710,1200,TS,12.0N,60.0W,50,-999,ATLANTIC,0,12.0,-60.0,Scarborough,Trinidad and Tobago
16,AL041851,UNNAMED,18510816,0,TS,13.4N,48.0W,40,-999,ATLANTIC,0,13.4,-48.0,Sinnamary,French Guiana
17,AL041851,UNNAMED,18510816,600,TS,13.7N,49.5W,40,-999,ATLANTIC,0,13.7,-49.5,Sinnamary,French Guiana
18,AL041851,UNNAMED,18510816,1200,TS,14.0N,51.0W,50,-999,ATLANTIC,0,14.0,-51.0,Bathsheba,Barbados
19,AL041851,UNNAMED,18510816,1800,TS,14.4N,52.8W,50,-999,ATLANTIC,0,14.4,-52.8,Bathsheba,Barbados
20,AL041851,UNNAMED,18510817,0,TS,14.9N,54.6W,60,-999,ATLANTIC,0,14.9,-54.6,Bathsheba,Barbados
21,AL041851,UNNAMED,18510817,600,TS,15.4N,56.5W,60,-999,ATLANTIC,0,15.4,-56.5,Bathsheba,Barbados
22,AL041851,UNNAMED,18510817,1200,HU,15.9N,58.5W,70,-999,ATLANTIC,0,15.9,-58.5,Le Vauclin,Martinique
23,AL041851,UNNAMED,18510817,1800,HU,16.1N,60.4W,70,-999,ATLANTIC,0,16.1,-60.4,Saint-Francois,Guadeloupe
24,AL041851,UNNAMED,18510818,0,HU,16.6N,62.5W,80,-999,ATLANTIC,1,16.6,-62.5,Charlestown,St. Kitts and Nevis
26,AL041851,UNNAMED,18510818,1200,HU,17.2N,66.0W,90,-999,ATLANTIC,1,17.2,-66.0,Arroyo,United States
27,AL041851,UNNAMED,18510818,1800,HU,17.6N,67.6W,90,-999,ATLANTIC,1,17.6,-67.6,Cabo Rojo,United States
28,AL041851,UNNAMED,18510819,0,HU,18.0N,69.3W,90,-999,ATLANTIC,1,18.0,-69.3,San Pedro De Macoris,Dominican Republic
29,AL041851,UNNAMED,18510819,600,HU,18.4N,71.1W,70,-999,ATLANTIC,0,18.4,-71.1,Tamayo,Dominican Republic
30,AL041851,UNNAMED,18510819,1200,TS,18.9N,72.6W,60,-999,ATLANTIC,0,18.9,-72.6,Verrettes,Haiti
31,AL041851,UNNAMED,18510819,1800,TS,19.4N,74.3W,60,-999,ATLANTIC,0,19.4,-74.3,Jeremie,Haiti
32,AL041851,UNNAMED,18510820,0,HU,19.9N,75.9W,70,-999,ATLANTIC,0,19.9,-75.9,Santiago De Cuba,Cuba
33,AL041851,UNNAMED,18510820,600,HU,20.5N,77.6W,70,-999,ATLANTIC,0,20.5,-77.6,Amancio,Cuba
34,AL041851,UNNAMED,18510820,1200,HU,21.2N,79.0W,70,-999,ATLANTIC,0,21.2,-79.0,Venezuela,Cuba
35,AL041851,UNNAMED,18510820,1800,HU,21.9N,80.4W,70,-999,ATLANTIC,0,21.9,-80.4,Cienfuegos,Cuba
36,AL041851,UNNAMED,18510821,0,TS,22.6N,81.4W,60,-999,ATLANTIC,0,22.6,-81.4,Pedro Betancourt,Cuba
37,AL041851,UNNAMED,18510821,600,TS,23.2N,82.5W,60,-999,ATLANTIC,0,23.2,-82.5,Bauta,Cuba
38,AL041851,UNNAMED,18510821,1200,HU,23.9N,83.6W,70,-999,ATLANTIC,0,23.9,-83.6,Bahia Honda,Cuba
39,AL041851,UNNAMED,18510821,1800,HU,24.4N,84.3W,70,-999,ATLANTIC,0,24.4,-84.3,Bahia Honda,Cuba
40,AL041851,UNNAMED,18510822,0,HU,25.0N,84.9W,80,-999,ATLANTIC,1,25.0,-84.9,Bahia Honda,Cuba
41,AL041851,UNNAMED,18510822,600,HU,25.6N,85.5W,80,-999,ATLANTIC,1,25.6,-85.5,Venice,United States
42,AL041851,UNNAMED,18510822,1200,HU,26.2N,86.0W,90,-999,ATLANTIC,1,26.2,-86.0,Saint Pete Beach,United States
43,AL041851,UNNAMED,18510822,1800,HU,26.8N,86.3W,90,-999,ATLANTIC,1,26.8,-86.3,Panama City,United States
44,AL041851,UNNAMED,18510823,0,HU,27.4N,86.5W,100,-999,ATLANTIC,2,27.4,-86.5,Panama City,United States
45,AL041851,UNNAMED,18510823,600,HU,28.0N,86.6W,100,-999,ATLANTIC,2,28.0,-86.6,Panama City,United States
46,AL041851,UNNAMED,18510823,1200,HU,28.5N,86.6W,100,-999,ATLANTIC,2,28.5,-86.6,Destin,United States
47,AL041851,UNNAMED,18510823,1800,HU,29.6N,86.1W,100,-999,ATLANTIC,2,29.6,-86.1,Panama City,United States
48,AL041851,UNNAMED,18510823,2100,HU,30.1N,85.7W,100,-999,ATLANTIC,2,30.1,-85.7,Panama City,United States
49,AL041851,UNNAMED,18510824,0,HU,30.7N,85.1W,90,-999,ATLANTIC,1,30.7,-85.1,Bainbridge,United States
50,AL041851,UNNAMED,18510824,600,HU,31.6N,84.1W,70,-999,ATLANTIC,0,31.6,-84.1,Albany,United States

In [21]:
clean_atlantic_and_pacific_df.dtypes

ID                   object
Name                 object
Date                  int64
Time                  int64
Status               object
Latitude             object
Longitude            object
Maximum Wind          int64
Minimum Pressure      int64
Ocean                object
Category              int64
New Latitude        float64
New Longitude       float64
City                 object
Country              object
dtype: object

In [22]:
# TRANSFORM the data by converting the column names to something more palatable by postgres

# Construct an empty list to be populated soon
sql_column_names = []

# Make a deep copy of the hurricane dataframe
to_sql_df = clean_atlantic_and_pacific_df.copy()

# Loop over all the column names
for name in column_names:
    
    # And append them to a list of lowercased column names
    sql_column_names.append(name.lower())
    
# Set all the column names in the deep-copy dataframe to their lowercase equivalents
to_sql_df.columns = sql_column_names

# TRANSFORM
# Rename the columns that have spaces in the middle to use underscores instead
to_sql_df.rename(columns={"date":"date_stamp", 
                          "time":"time_stamp", 
                          "maximum wind":"max_wind",
                          "minimum pressure":"min_pressure",
                          "new latitude":"new_latitude",
                          "new longitude":"new_longitude",
                          "ocean": "ocean",
                          "category": "category"}, inplace=True)

to_sql_df

,id,name,date_stamp,time_stamp,status,latitude,longitude,max_wind,min_pressure,ocean,category,new_latitude,new_longitude,city,country
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC,1,28.0,-94.8,Freeport,United States
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC,1,28.0,-95.4,Freeport,United States
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC,1,28.0,-96.0,Port Lavaca,United States
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC,1,28.1,-96.5,Port Lavaca,United States
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC,1,28.2,-96.8,Rockport,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,20151128,1200,LO,21.7N,109.0W,35,1002,PACIFIC,0,21.7,-109.0,Cabo San Lucas,Mexico
26133,EP222015,SANDRA,20151128,1800,LO,22.4N,108.7W,30,1007,PACIFIC,0,22.4,-108.7,Cabo San Lucas,Mexico
26134,EP222015,SANDRA,20151129,0,LO,23.1N,108.3W,30,1008,PACIFIC,0,23.1,-108.3,Eldorado,Mexico
26135,EP222015,SANDRA,20151129,600,LO,23.5N,107.9W,25,1009,PACIFIC,0,23.5,-107.9,Eldorado,Mexico
26136,EP222015,SANDRA,20151129,1200,LO,24.2N,107.7W,20,1010,PACIFIC,0,24.2,-107.7,Eldorado,Mexico

In [23]:
to_sql_df.shape

(74996, 15)

In [24]:
to_sql_df.rename(columns = {'max_wind': 'wind'}, inplace = True)
to_sql_df.head()

,id,name,date_stamp,time_stamp,status,latitude,longitude,wind,min_pressure,ocean,category,new_latitude,new_longitude,city,country
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC,1,28.0,-94.8,Freeport,United States
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC,1,28.0,-95.4,Freeport,United States
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC,1,28.0,-96.0,Port Lavaca,United States
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC,1,28.1,-96.5,Port Lavaca,United States
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC,1,28.2,-96.8,Rockport,United States

In [25]:
# Store a backup copy of the dataframe so that we don't have to rerun the above.
# This will allow others to quickly spin up the full-size database
to_sql_df.to_csv("Resources/final_database.csv", index=True, header=True)

In [26]:
csv_file = "Resources/final_database.csv"
recovered_df = pd.read_csv(csv_file)
to_sql_df = recovered_df
recovered_df.head(50)

,Unnamed: 0,id,name,date_stamp,time_stamp,status,latitude,longitude,wind,min_pressure,ocean,category,new_latitude,new_longitude,city,country
0,0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999,ATLANTIC,1,28.0,-94.8,Freeport,United States
1,1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999,ATLANTIC,1,28.0,-95.4,Freeport,United States
2,2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999,ATLANTIC,1,28.0,-96.0,Port Lavaca,United States
3,3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999,ATLANTIC,1,28.1,-96.5,Port Lavaca,United States
4,4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999,ATLANTIC,1,28.2,-96.8,Rockport,United States
5,5,AL011851,UNNAMED,18510626,0,HU,28.2N,97.0W,70,-999,ATLANTIC,0,28.2,-97.0,Rockport,United States
6,6,AL011851,UNNAMED,18510626,600,TS,28.3N,97.6W,60,-999,ATLANTIC,0,28.3,-97.6,Beeville,United States
7,7,AL011851,UNNAMED,18510626,1200,TS,28.4N,98.3W,60,-999,ATLANTIC,0,28.4,-98.3,Beeville,United States
8,8,AL011851,UNNAMED,18510626,1800,TS,28.6N,98.9W,50,-999,ATLANTIC,0,28.6,-98.9,Pleasanton,United States
9,9,AL011851,UNNAMED,18510627,0,TS,29.0N,99.4W,50,-999,ATLANTIC,0,29.0,-99.4,Hondo,United States
10,10,AL011851,UNNAMED,18510627,600,TS,29.5N,99.8W,40,-999,ATLANTIC,0,29.5,-99.8,Uvalde,United States
11,11,AL011851,UNNAMED,18510627,1200,TS,30.0N,100.0W,40,-999,ATLANTIC,0,30.0,-100.0,Uvalde,United States
12,12,AL011851,UNNAMED,18510627,1800,TS,30.5N,100.1W,40,-999,ATLANTIC,0,30.5,-100.1,San Angelo,United States
13,13,AL011851,UNNAMED,18510628,0,TS,31.0N,100.2W,40,-999,ATLANTIC,0,31.0,-100.2,San Angelo,United States
14,14,AL021851,UNNAMED,18510705,1200,HU,22.2N,97.6W,80,-999,ATLANTIC,1,22.2,-97.6,Miramar,Mexico
15,15,AL031851,UNNAMED,18510710,1200,TS,12.0N,60.0W,50,-999,ATLANTIC,0,12.0,-60.0,Scarborough,Trinidad and Tobago
16,16,AL041851,UNNAMED,18510816,0,TS,13.4N,48.0W,40,-999,ATLANTIC,0,13.4,-48.0,Sinnamary,French Guiana
17,17,AL041851,UNNAMED,18510816,600,TS,13.7N,49.5W,40,-999,ATLANTIC,0,13.7,-49.5,Sinnamary,French Guiana
18,18,AL041851,UNNAMED,18510816,1200,TS,14.0N,51.0W,50,-999,ATLANTIC,0,14.0,-51.0,Bathsheba,Barbados
19,19,AL041851,UNNAMED,18510816,1800,TS,14.4N,52.8W,50,-999,ATLANTIC,0,14.4,-52.8,Bathsheba,Barbados
20,20,AL041851,UNNAMED,18510817,0,TS,14.9N,54.6W,60,-999,ATLANTIC,0,14.9,-54.6,Bathsheba,Barbados
21,21,AL041851,UNNAMED,18510817,600,TS,15.4N,56.5W,60,-999,ATLANTIC,0,15.4,-56.5,Bathsheba,Barbados
22,22,AL041851,UNNAMED,18510817,1200,HU,15.9N,58.5W,70,-999,ATLANTIC,0,15.9,-58.5,Le Vauclin,Martinique
23,23,AL041851,UNNAMED,18510817,1800,HU,16.1N,60.4W,70,-999,ATLANTIC,0,16.1,-60.4,Saint-Francois,Guadeloupe
24,24,AL041851,UNNAMED,18510818,0,HU,16.6N,62.5W,80,-999,ATLANTIC,1,16.6,-62.5,Charlestown,St. Kitts and Nevis
25,26,AL041851,UNNAMED,18510818,1200,HU,17.2N,66.0W,90,-999,ATLANTIC,1,17.2,-66.0,Arroyo,United States
26,27,AL041851,UNNAMED,18510818,1800,HU,17.6N,67.6W,90,-999,ATLANTIC,1,17.6,-67.6,Cabo Rojo,United States
27,28,AL041851,UNNAMED,18510819,0,HU,18.0N,69.3W,90,-999,ATLANTIC,1,18.0,-69.3,San Pedro De Macoris,Dominican Republic
28,29,AL041851,UNNAMED,18510819,600,HU,18.4N,71.1W,70,-999,ATLANTIC,0,18.4,-71.1,Tamayo,Dominican Republic
29,30,AL041851,UNNAMED,18510819,1200,TS,18.9N,72.6W,60,-999,ATLANTIC,0,18.9,-72.6,Verrettes,Haiti
30,31,AL041851,UNNAMED,18510819,1800,TS,19.4N,74.3W,60,-999,ATLANTIC,0,19.4,-74.3,Jeremie,Haiti
31,32,AL041851,UNNAMED,18510820,0,HU,19.9N,75.9W,70,-999,ATLANTIC,0,19.9,-75.9,Santiago De Cuba,Cuba
32,33,AL041851,UNNAMED,18510820,600,HU,20.5N,77.6W,70,-999,ATLANTIC,0,20.5,-77.6,Amancio,Cuba
33,34,AL041851,UNNAMED,18510820,1200,HU,21.2N,79.0W,70,-999,ATLANTIC,0,21.2,-79.0,Venezuela,Cuba
34,35,AL041851,UNNAMED,18510820,1800,HU,21.9N,80.4W,70,-999,ATLANTIC,0,21.9,-80.4,Cienfuegos,Cuba
35,36,AL041851,UNNAMED,18510821,0,TS,22.6N,81.4W,60,-999,ATLANTIC,0,22.6,-81.4,Pedro Betancourt,Cuba
36,37,AL041851,UNNAMED,18510821,600,TS,23.2N,82.5W,60,-999,ATLANTIC,0,23.2,-82.5,Bauta,Cuba
37,38,AL041851,UNNAMED,18510821,1200,HU,23.9N,83.6W,70,-999,ATLANTIC,0,23.9,-83.6,Bahia Honda,Cuba
38,39,AL041851,UNNAMED,18510821,1800,HU,24.4N,84.3W,70,-999,ATLANTIC,0,24.4,-84.3,Bahia Honda,Cuba
39,40,AL041851,UNNAMED,18510822,0,HU,25.0N,84.9W,80,-999,ATLANTIC,1,25.0,-84.9,Bahia Honda,Cuba
40,41,AL041851,UNNAMED,18510822,600,HU,25.6N,85.5W,80,-999,ATLANTIC,1,25.6,-85.5,Venice,United States
41,42,AL041851,UNNAMED,18510822,1200,HU,26.2N,86.0W,90,-999,ATLANTIC,1,26.2,-86.0,Saint Pete Beach,United States
42,43,AL041851,UNNAMED,18510822,1800,HU,26.8N,86.3W,90,-999,ATLANTIC,1,26.8,-86.3,Panama City,United States
43,44,AL041851,UNNAMED,18510823,0,HU,27.4N,86.5W,100,-999,ATLANTIC,2,27.4,-86.5,Panama City,United States
44,45,AL041851,UNNAMED,18510823,600,HU,28.0N,86.6W,100,-999,ATLANTIC,2,28.0,-86.6,Panama City,United States
45,46,AL041851,UNNAMED,18510823,1200,HU,28.5N,86.6W,100,-999,ATLANTIC,2,28.5,-86.6,Destin,United States
46,47,AL041851,UNNAMED,18510823,1800,HU,29.6N,86.1W,100,-999,ATLANTIC,2,29.6,-86.1,Panama City,United States
47,48,AL041851,UNNAMED,18510823,2100,HU,30.1N,85.7W,100,-999,ATLANTIC,2,30.1,-85.7,Panama City,United States
48,49,AL041851,UNNAMED,18510824,0,HU,30.7N,85.1W,90,-999,ATLANTIC,1,30.7,-85.1,Bainbridge,United States
49,50,AL041851,UNNAMED,18510824,600,HU,31.6N,84.1W,70,-999,ATLANTIC,0,31.6,-84.1,Albany,United States

In [27]:
#############################################

In [28]:
# LOAD the data INTO the SQL server database
to_sql_df.to_sql(name='hurricanes', con=engine, if_exists='replace', index=True)

In [29]:
# LOAD/EXTRACT the data FROM the SQL database
katrina_from_sql_df = pd.read_sql_query("select * from hurricanes where name = 'KATRINA'", con=engine)
coords = katrina_from_sql_df[["new_latitude", "new_longitude"]]

# EXTRACT Google Maps data
fig = gmaps.figure(zoom_level=5, center=(27.5,-85))

#heat_layer = gmaps.heatmap_layer(coords, dissipating=False, max_intensity=100, point_radius=3)
#fig.add_layer(heat_layer)

# TRANSFORM the EXTRACTED data into a Google Maps symbol layer
hurricane_katrina_layer = gmaps.symbol_layer(
    coords, fill_color='red', stroke_color='red', scale=2
)
fig.add_layer(hurricane_katrina_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# LOAD/EXTRACT the data FROM the SQL database
all_hurricanes_from_sql_df = pd.read_sql_query('select * from hurricanes where wind >= 115', con=engine)
coords = all_hurricanes_from_sql_df[["new_latitude", "new_longitude"]]

# EXTRACT Google Maps data
fig = gmaps.figure(zoom_level=3, center=(25,-75))

# TRANSFORM the EXTRACTED data into a Google Maps symbol layer
all_hurricanes_layer = gmaps.symbol_layer(
    coords, fill_color='green', stroke_color='green', scale=2
)
fig.add_layer(all_hurricanes_layer)
fig.add_layer(hurricane_katrina_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# LOAD/EXTRACT the data FROM the SQL database
all_hurricanes_from_sql_df = pd.read_sql_query('select * from hurricanes where wind >= 115', con=engine)
coords = all_hurricanes_from_sql_df[["new_latitude", "new_longitude"]]
winds = all_hurricanes_from_sql_df["wind"]

winds.describe()

count    1836.000000
mean      123.739107
std         9.832550
min       115.000000
25%       115.000000
50%       120.000000
75%       130.000000
max       185.000000
Name: wind, dtype: float64

In [34]:
# EXTRACT Google Maps data
fig = gmaps.figure(zoom_level=3, center=(25,-75))

# TRANSFORM the EXTRACTED data into a Google Maps heatmap layer
heat_layer = gmaps.heatmap_layer(coords, weights=winds, dissipating=True, max_intensity=150, point_radius=7)

fig.add_layer(heat_layer)
fig.add_layer(hurricane_katrina_layer)
fig

Figure(layout=FigureLayout(height='420px'))